@import "tailwindcss";

@theme {
  /* --color-main: #101013; */
   --color-main: #060015;
  --color-node: #533c76;
  --color-node-selected: #b08bec;
  --color-taken: #ac3e21;
  --color-taken-selected: #d76548;
  --color-passed: #006e22;
  --color-passed-selected: #439d50;
  --color-shadow-white: #ffffff80;
  --color-shadow-white-dim: #ffffff50;
  --color-shadow-taken: #ac3e2190;
  --color-shadow-passed: #006e2290;
}

@utility text-shadow-white {
  text-shadow: 0 0 10px var(--color-shadow-white);
}

@utility text-shadow-white-dim {
  text-shadow: 0 0 10px var(--color-shadow-white-dim);
}

@utility shadow-taken {
  box-shadow: 0 0 10px var(--color-shadow-taken);
}

@utility shadow-passed {
  box-shadow: 0 0 10px var(--color-shadow-passed);
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.react-flow__attribution {
   display: none;
}
