@import "tailwindcss";

@theme {
  --color-main: #101013;
  --color-node: #11111f;
  --color-taken: #ac3e21;
  --color-passed: #008236;
  --color-shadow-white: #ffffff80;
  --color-shadow-white-dim: #ffffff50;
  --color-shadow-taken: #f0802090;
  --color-shadow-passed: #00f00050;
}

@utility text-shadow-white {
  text-shadow: 0 0 10px var(--color-shadow-white);
}

@utility text-shadow-white-dim {
  text-shadow: 0 0 10px var(--color-shadow-white-dim);
}

@utility shadow-taken {
  box-shadow: 0 0 8px var(--color-shadow-taken);
}

@utility shadow-passed {
  box-shadow: 0 0 8px var(--color-shadow-passed);
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.react-flow__attribution {
   display: none;
}
